<p>Hello <%= body.firstName %>,</p>
<p>Welcome to MyBelongings. We are almost there finishing your registration</p>
<p>To finish your registration, please click the link below:</p>
<p><a href="<%= body.link %>">Complete my registration</a></p>
<p>Best Regards</p>
<p>MyBelongings Team
